.main-content {
  margin-top: calc(var(--regSpacing)*3);
  margin-left: 12%;
  margin-right: 12%;
  display: flex;
  flex-direction: column;
}

#textContactus {

  text-decoration: none;
  color: black;
  margin-top: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #ffffff;
  width: 100%;
}

#form_button {
  overflow: visible;
}

#form_button,
select {
  text-transform: none;
}

#form_button,
input,
select,
textarea {
  color: #000000;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}


.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
  width: 45%;
}

input[type='text'],
[type='email'],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 15px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
  width: 50%;
}

.message_input {

  width: 45%;
}

.name {
  float: left;
  width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 45%;
}

textarea {
  line-height: 150%;
  height: 100px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #474544;
}

:-moz-placeholder {
  color: #474544;
  opacity: 1;
}

::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #474544;
}

#main-button {
  margin-top: calc(var(--regSpacing)*2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--regSpacing);
  background-color: var(--mainGreen);
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  text-transform: capitalize;
  font-family: var(--titleFont);
  width: clamp(100px, 40%, 250px);
  font-size: calc(0.1em + 2.7vw);
}

#form_button {
  margin-top: calc(var(--regSpacing)*2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--regSpacing);
  background-color: var(--mainGreen);
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  text-transform: capitalize;
  font-family: var(--titleFont);
  width: clamp(100px, 40%, 250px);
  font-size: calc(0.1em + 2.7vw);
  cursor: pointer;
}

#contact_form {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 35px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h4 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {


  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type='text'],
  [type='email'],
  select,
  textarea {
    font-size: 0.875em;
  }
}