.carte {

    display: flex;
    flex-direction: column;
    
    align-items: center;
}

h4{
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.navMenu1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 16px;

}

.main-button {

    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--regSpacing);
    background-color: var(--mainGreen);
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    text-transform: capitalize;
    font-family: var(--titleFont);
     font-size: calc(0.1em + 2.7vw);
     width: 80%;

}

#p1{
 padding:calc(var(--regSpacing)*3);
}


.Carte #p1{
    text-align: center;

}

#mEntrees,#mPlats,#mDesserts{
display: none;
}
