.main-img {
    height: 100px;
    overflow: hidden;
    margin-top: calc(var(--regSpacing)*2);
}

.main-img img {
    width: 100%;
    transform: translate(-0%, -20%);
}

.main-button {
    margin-top: calc(var(--regSpacing)*2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--regSpacing);
    background-color: var(--mainGreen);
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    text-transform: capitalize;
    font-family: var(--titleFont);
    width: clamp(100px, 40%, 250px);
    font-size: calc(0.1em + 2.7vw);


}