.main-img {
    height: 100px;
    overflow: hidden;
    margin-top: calc(var(--regSpacing)*2);
}

.main-img img {
    width: 100%;
    transform: translate(-0%, -20%);
}

.main-button {
    position: relative;
    text-decoration: none;
    color: inherit;
    margin-top: calc(var(--regSpacing)*2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--regSpacing);
    background-color: var(--mainGreen);
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    text-transform: capitalize;
    font-family: var(--titleFont);
    width: clamp(100px, 40%, 250px);
    font-size: calc(0.1em + 2.7vw);
    text-align: center;
}

.main-button:hover {
    color: white;
    border: none;
}

.main-button:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: var(--mainOrange);
    transition: all .35s;
    border-radius: 5px;
}

.main-button:hover:after {
    width: 100%;
    border: 1px black solid;

}


.ouverture {
    text-align: center;
}

@media screen and (min-width: 675px) {
    .main-button {
        font-size: calc(0.1em + 1.1vw);
    }

    .main-content {
        margin-left: 25%;
        margin-right: 25%;
    }
}