*{
    --mainGreen: #7DC2A5
}
form{
    display : flex;
    flex-direction : column;
    margin : 0 auto;
    margin-left : 30%;
    margin-right : 30%;
    padding : 8px;

}
.formulaire{
    display : flex ;
    flex-direction : column;
    
    gap : 8px;
    margin-top : 16px;
}
input{
    gap : 8px;
    border : 2px black solid;
    width : 100%;
    height : 32px;
}

#reservation{
    margin-top : 32px;

    width : 30%;
    background-color : var(--mainGreen);
    color : white;
    

}
select{
    gap : 8 px;
    border : 2px black solid;
    width : 100%;
    height : 32px;
    
}
.reservation{
    margin-left : 30%;
    margin-right : 30%;
    margin-top : 16px;
}
.main-button{

    display : flex;
    justify-content : center;
    
}
  #reser{
   
 
    
  
    margin-top: calc(var(--regSpacing)*2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--regSpacing);
    background-color: var(--mainGreen);
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
  
    text-transform: capitalize;
    font-family: var(--titleFont);
    width: clamp(100px, 40%, 250px);
    font-size: calc(0.1em + 2.7vw);
  }