footer {
    background-color: var(--mainGreen);
    margin-top: calc(var(--regSpacing)*3);
    height: 100px;
    padding-left: var(--regSpacing);
    padding-right: var(--regSpacing);
    padding-top: calc(var(--regSpacing)*1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.functions-icon {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--regSpacing)*2);
}

.functions-icon img {
    height: 40px;
    margin: 8px;
}

.social-icon {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--regSpacing)*2);
}

.social-icon img {
    height: 40px;
    margin: 8px;
}

footer p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 0.6em;
}



@media screen and (min-width: 675px) {

    /* les blocs de 3 icônes se retrouvent ramenés vers le centre
    mais chaque icône reste collée aux autres dans son bloc */


    .footer-content {
        justify-content: space-between;

    }

    .functions-icon {
        justify-content: space-around;
        width: 30%;
    }

    .social-icon {
        justify-content: space-around;
        width: 30%;
    }

    footer p {

        font-weight: bold;


    }

}